/* @import url(https://fonts.googleapis.com/css?family=Megrim); */
* {
    font-family: Megrim;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body { 
    margin: 0; 
    overflow: hidden; 
}

canvas { 
    width: 100%; 
    height: 100% 
}